﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Aura Cristina Garzón Rodríguez</h1>
        <p class="lead">Aura Cristina Garzón Rodríguez es la persona que SEIDOR esta buscando para el cargo de Desarrolladora .NET.  A continuación se muestran los enlaces CRUD de cada uno de las entidades según la definición del problema</p>
        <p><a href="https://localhost:44385/CIUDADs" class="btn btn-primary btn-lg">Ciudades &raquo;</a></p>
        <p><a href="https://localhost:44385/VENDEDORs" class="btn btn-primary btn-lg">Vendedores &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Biografia de Aura Garzón</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>